In [5]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [6]:
df = pd.read_csv("Cleaned_Telco_Churn.csv")
print("✅ Dataset loaded successfully!")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

✅ Dataset loaded successfully!
Rows: 7043, Columns: 22

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Column1
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,NaN
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,NaN
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,NaN
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,NaN
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,NaN

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
 21  Column1           0 non-null      float64
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB
None

In [8]:
print(df.describe())

       SeniorCitizen       tenure  MonthlyCharges  Column1
count    7043.000000  7043.000000     7043.000000      0.0
mean        0.162147    32.371149       64.761692      NaN
std         0.368612    24.559481       30.090047      NaN
min         0.000000     0.000000       18.250000      NaN
25%         0.000000     9.000000       35.500000      NaN
50%         0.000000    29.000000       70.350000      NaN
75%         0.000000    55.000000       89.850000      NaN
max         1.000000    72.000000      118.750000      NaN

In [9]:
print(df.isnull().sum())

customerID             0
gender                 0
SeniorCitizen          0
Partner                0
Dependents             0
tenure                 0
PhoneService           0
MultipleLines          0
InternetService        0
OnlineSecurity         0
OnlineBackup           0
DeviceProtection       0
TechSupport            0
StreamingTV            0
StreamingMovies        0
Contract               0
PaperlessBilling       0
PaymentMethod          0
MonthlyCharges         0
TotalCharges           0
Churn                  0
Column1             7043
dtype: int64

In [14]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].median())

In [10]:
le = LabelEncoder()
for col in ['Partner','Dependents','PhoneService','PaperlessBilling','Churn']:
    if col in df.columns:
        df[col] = le.fit_transform(df[col])

df = pd.get_dummies(df, columns=['gender','InternetService','Contract','PaymentMethod'], drop_first=True)

In [15]:
scaler = StandardScaler()
num_cols = ['tenure','MonthlyCharges','TotalCharges']
df[num_cols] = scaler.fit_transform(df[num_cols])

In [16]:
print(df.head())

   customerID  SeniorCitizen  Partner  Dependents    tenure  PhoneService  \
0  7590-VHVEG              0        1           0 -1.277445             0
1  5575-GNVDE              0        0           0  0.066327             1
2  3668-QPYBK              0        0           0 -1.236724             1
3  7795-CFOCW              0        0           0  0.514251             0
4  9237-HQITU              0        0           0 -1.236724             1

      MultipleLines OnlineSecurity OnlineBackup DeviceProtection  ... Churn  \
0  No phone service             No          Yes               No  ...     0
1                No            Yes           No              Yes  ...     0
2                No            Yes          Yes               No  ...     1
3  No phone service            Yes           No              Yes  ...     0
4                No             No           No               No  ...     1

  Column1 gender_Male  InternetService_Fiber optic  InternetService_No  \
0     NaN       False                        False               False
1     NaN        True                        False               False
2     NaN        True                        False               False
3     NaN        True                        False               False
4     NaN       False                         True               False

   Contract_One year  Contract_Two year  \
0              False              False
1               True              False
2              False              False
3               True              False
4              False              False

   PaymentMethod_Credit card (automatic)  PaymentMethod_Electronic check  \
0                                  False                            True
1                                  False                           False
2                                  False                           False
3                                  False                           False
4                                  False                            True

   PaymentMethod_Mailed check
0                       False
1                        True
2                        True
3                       False
4                       False

[5 rows x 26 columns]

In [17]:
df.to_csv("Preprocessed_Telco_Churn.csv", index=False)
print("✅ Preprocessed_Telco_Churn.csv saved successfully!")

✅ Preprocessed_Telco_Churn.csv saved successfully!